h1 {
    color: purple;
    background-color: gray;
}
div {
    border: 2px solid purple;
    margin-bottom: 10px;
}
div:hover {
    color: purple;
}
a {
    border: 2px solid blue;
    padding: 5px;
}
a:active {
    color: orange;
}
a:visited {
    color: purple;
}
input:focus{
    background-color:pink;
}
li:first-child {
    color: blue;
}
li:last-child {
    color: purple; */
 }
li:nth-child(3) {
    color: gray;
}
li:not(.meu-item) {
    color: purple;
}