/* h1 {
    color: purple;
    background-color: gray;
}
div {
    border: 2px solid purple;
    margin-bottom: 10px;
}
div:hover {
    color: purple;
}
a {
    border: 2px solid blue;
    padding: 5px;
}
a:active {
    color: orange;
}
a:visited {
    color: purple;
}
input:focus{
    background-color:pink;
}
li:first-child {
    color: blue;
}
li:last-child {
    color: purple; */
 /* } */
/* li:nth-child(3) {
    color: gray;
}
li:not(.meu-item) {
    color: purple;
}

:checked {
    margin-left: 25px;
}
input[type="radio"]:checked {
    margin-left: 25px;
}

input[type="checkbox"]:checked {
    margin-left: 25px;
}

option:checked {
    color: red;
}
input:disable {
    background: gray;
}
input:required {
    border: 1px solid blue;
}
input[type="email"]:invalid {
    background: pink;
}
input[type="email"]:valid {
    background: green;
}
::placeholder {
    color: purple;

}
p::first-letter {
    color: blue;
    text-transform: uppercase;
}
p::first-line {
    color: gray;
}
p::selection {
    color: pink;
    background: blue;
}
::marker {
    color: pink;
    font-size: 23px;
} */ 

.container-pai {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    /* height: 300px; */
    /* flex-direction: column; */
    align-items: stretch;
    /* flex-wrap: wrap-reverse; */
}

.container-filho {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px dotted black;
    color: white;
    display-flex: flex;
    justify-content: center;
    align-items: center;
}
.item1 {
    background-color: green;
}
.item2 {
    background-color: purple;
}
.item3 {
    background-color: blue;
}
.item4 {
    background-color: red;
}
.item5 {
    background-color: gray;
}